.header-row ion-col {
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
.header-row ion-col {
  border-bottom: 0px!important;
}
.actions {
  border-bottom: 1px solid #ddd;
  padding: 15px;
  text-align: center;
}
