<ion-header>
  <ion-navbar color="primary">
    <ion-title [navPush]="informationRoot"></ion-title>
      <ion-title text-center>Change Password</ion-title>
  </ion-navbar>
</ion-header>

<ion-content id="changepassword-container" padding>
  <ion-card>
    <ion-list>
      <ion-item>
        <ion-input type="password" placeholder="Old Password" [(ngModel)]="modelOldPassword"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="password" placeholder="New Password" [(ngModel)]="modelNewPassword"></ion-input>
      </ion-item>
        <ion-item>
          <ion-input type="password" placeholder="New Password Again" [(ngModel)]="modelNewPasswordAgain"></ion-input>
        </ion-item>
        <button ion-button block color="success" (click)="changeUserPassword()">SAVE</button>
    </ion-list>
  </ion-card>
  <div class="error-validate" *ngIf="errorValidate">{{statusText}}</div>
  <div class="success-validate" *ngIf="succesValidate">{{statusText}}</div>
</ion-content>
