#walletsettings-container {
    ion-grid {
        height: auto;
        ion-row {
            padding-top: 25px;
            padding-bottom: 25px;
            border-bottom: 1px solid #ddd;
            ion-icon {
              font-size: 2.5em;
            }
        }
        ion-row:last-child {
            border-bottom: none;
        }
    }
    .error-validate {
        width: 110%;
        height: 35px;
        padding: 10px;
        margin-left: -10%;
        position: fixed;
        top: 0px;
        text-align: center;
        color: #fff;
        background-color: rgba(173,0,0,1);
    }
    .success-validate {
        width: 110%;
        height: 35px;
        padding: 10px;
        margin-left: -10%;
        position: fixed;
        top: 0px;
        text-align: center;
        color: #fff;
        background-color: rgba(97,170,23,1);
    }
}
