<ion-header>
  <ion-navbar color="primary">
    <ion-title [navPush]="informationRoot"></ion-title>
    <ion-title text-center>Wallet Settings</ion-title>
  </ion-navbar>
</ion-header>

<ion-content id="walletsettings-container" padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to Refresh" refreshingSpinner="crescent" refreshingText="Refreshing..."></ion-refresher-content>
  </ion-refresher>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col col-4 text-center>
          <b>Wallet Name</b>
        </ion-col>
        <ion-col col-4 text-center>
          <b>Wallet Address</b>
        </ion-col>
        <ion-col col-4 text-center>
          <b>Delete</b>
        </ion-col>
        </ion-row>
        <ion-row *ngFor="let savedWallet of savedWallets">
          <ion-col col-4 text-center>{{savedWallet.label}}</ion-col>
          <ion-col col-4 text-center>{{savedWallet.walletAddress}}</ion-col>
          <ion-col col-4 text-center>
              <ion-icon ios="ios-trash" md="md-trash" color="danger" id="{{savedWallet.id}}" (click)="walletHide($event)"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-card>
  <div class="error-validate" *ngIf="errorValidate">{{statusText}}</div>
  <div class="success-validate" *ngIf="succesValidate">{{statusText}}</div>
</ion-content>
