<ion-header>
  <ion-navbar color="primary">
    <ion-title [navPush]="informationRoot"></ion-title>
    <ion-title text-center>Invoices</ion-title>
  </ion-navbar>
</ion-header>

<ion-content id="walletsettings-container" padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to Refresh" refreshingSpinner="crescent" refreshingText="Refreshing..."></ion-refresher-content>
  </ion-refresher>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col col-4 text-center>
          <b>Order Description</b>
        </ion-col>
        <ion-col col-4 text-center>
          <b>Invoice Amount</b>
        </ion-col>
        <ion-col col-4 text-center>
          <b>Date</b>
        </ion-col>
        </ion-row>
        <ion-row *ngFor="let invoice of invoices">
          <ion-col col-4 text-center>{{invoice.terahash}} TH/s</ion-col>
          <ion-col col-4 text-center>{{invoice.price}}$</ion-col>
          <ion-col col-4 text-center>{{(invoice.creationDate).substring(0,10)}}</ion-col>
        </ion-row>
      </ion-grid>
  </ion-card>
  <div class="error-validate" *ngIf="errorValidate">{{statusText}}</div>
  <div class="succes-validate" *ngIf="succesValidate">{{statusText}}</div>
</ion-content>
