<ion-header>
  <ion-navbar>
   <img id="logo" src="../assets/img/vip_logo.png">
   <ion-icon ios="ios-notifications" md="md-notifications" [navPush]="notificationsRoot" float-right></ion-icon>
  </ion-navbar>
</ion-header>
<ion-content id="wallet-container" padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to Refresh" refreshingSpinner="crescent" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <p class="wallet-value-header">Your Wallet Address</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 text-center>
        {{walletAddress}}
      </ion-col>
    </ion-row>
    <ion-segment color="primary" [(ngModel)]="transferSegmentChanged" id="wallet-value-container">
      <ion-segment-button value="gm-wallet">
          <p class="wallet-value-header">Amount in Your Wallet</p>
      </ion-segment-button>
      <ion-segment-button value="mining-amount">
        <p class="wallet-value-header">Your Mining Amount</p>
      </ion-segment-button>
    </ion-segment>
    <ion-row id="wallet-value-container">
      <ion-col col-6>
        <p class="wallet-value">{{btcWalletAmount}} BTC</p>
      </ion-col>
      <ion-col col-6>
        <p class="wallet-value">{{totalUnpaidBtc}} BTC</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <section [ngSwitch]="transferSegmentChanged">
    <section *ngSwitchCase="'mining-amount'">
      <ion-grid>
        <ion-list>
          <ion-row>
            <ion-col col-12 text-center padding>If the wallet to transfer is saved, you can choose with select box of saved wallets.</ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-12 class="title-table">Transfer to Any Wallet From Your Mining</ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-8>
              <ion-item text-left>
                <ion-select [(ngModel)]="modelWalletAddress" cancelText="Cancel" interface="action-sheet" placeholder="Saved Wallets" col-12>
                  <ion-option *ngFor="let savedWallet of savedWallets" value="{{savedWallet.walletAddress}}">{{savedWallet.label}}</ion-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col col-4>
              <button ion-button block color="primary" [navPush]="addWalletRoot" text-left><ion-icon ios="ios-add" md="md-add"></ion-icon></button>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="transferFromMining">
            <ion-col col-8>
              <ion-item>
                <ion-input type="number" placeholder="Transfer Amount" [(ngModel)]="modelTrasferMiningAmount"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col col-4>
              <button ion-button block color="primary" (click)="getAllMiningAmount()" >All Amount</button>
            </ion-col>
          </ion-row>
          <ion-row>
            <button ion-button block color="success" (click)="postCoinTransactionInMining()" *ngIf="transferFromMining">Transfer</button>
          </ion-row>
        </ion-list>
      </ion-grid>
    </section>

    <section *ngSwitchCase="'gm-wallet'">
      <ion-grid *ngIf="walletAddress != noWalletText">
        <ion-list>
          <ion-row>
            <ion-col col-12 text-center padding>If the wallet to transfer is saved, you can choose with select box of saved wallets.</ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-12 class="title-table">Transfer to Any Wallet From Your Wallet</ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-8>
              <ion-item text-left>
                <ion-select [(ngModel)]="modelWalletAddress" cancelText="Cancel" interface="action-sheet" placeholder="Saved Wallets" col-12>
                  <ion-option *ngFor="let savedWallet of savedWallets" value="{{savedWallet.walletAddress}}">{{savedWallet.label}}</ion-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col col-4>
              <button ion-button block color="primary" [navPush]="addWalletRoot" text-left><ion-icon ios="ios-add" md="md-add"></ion-icon></button>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="transferFromWallet">
            <ion-col col-8>
              <ion-item>
                <ion-input type="number" placeholder="Transfer Amount" [(ngModel)]="modelTransferAmount"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col col-4>
              <button ion-button block color="primary" (click)="getAllBalance()">All Amount</button>
            </ion-col>
          </ion-row>
          <ion-row>
            <button ion-button block color="success" (click)="postCoinTransactionInWallet()" *ngIf="transferFromWallet">Transfer</button>
          </ion-row>
        </ion-list>
      </ion-grid>

      <ion-grid *ngIf="walletAddress == noWalletText">
        <ion-list>
          <ion-row>
            <ion-col col-12 text-center padding>You can create a GM Wallet in here.</ion-col>
          </ion-row>
          <ion-row>
            <button ion-button block color="success" (click)="addGmWallet()">Add Gm Wallet</button>
          </ion-row>
        </ion-list>
      </ion-grid>
    </section>
  </section>
  <div class="error-validate" *ngIf="errorValidate">{{statusText}}</div>
  <div class="succes-validate" *ngIf="succesValidate">{{statusText}}</div>
</ion-content>
