<ion-header>
  <ion-navbar color="primary">
    <ion-title text-center>Wallet</ion-title>
  </ion-navbar>
</ion-header>
<ion-content id="wallet-container" padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to Refresh" refreshingSpinner="crescent" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-card>
    <h4 class="title-table">Unpaid Gain</h4>
    <ion-row class="header-table">
      <ion-col col-4 text-center>
        <b>BTC</b>
      </ion-col>
      <ion-col col-4 text-center>
        <b>Date</b>
      </ion-col>
        <ion-col col-4 text-center>
        <b>USD</b>
      </ion-col>
    </ion-row>
    <ion-grid>
      <ion-row *ngFor="let unpaid of unpaidEarning">
        <ion-col col-4 text-center>{{unpaid.earningbtc}}</ion-col>
        <ion-col col-4 text-center>{{unpaid.createDate.split('T')[0]}}</ion-col>
        <ion-col col-4 text-center>{{unpaid.usdbtc}}</ion-col>
      </ion-row>
    </ion-grid>
    <ion-row class="footer-table">
      <ion-col col-4 text-center>
        <b>Total:</b> {{totalUnpaidBtc}} BTC
      </ion-col>
      <ion-col col-4 text-center></ion-col>
      <ion-col col-4 text-center>
        <b>Total:</b> {{totalUnpaidUsd}}$
      </ion-col>
    </ion-row>
  </ion-card>
    <ion-card>
      <h5 text-center padding>You can transfer your gain to your wallet in here.</h5>
      <h5 class="gain-text">Your Balance: {{gainAmount}}$</h5>
      <h4 class="title-table">Your Earning Transfer to Your Wallet</h4>
      <ion-list>
        <ion-item>
          <ion-input type="number" value="{{totalUnpaidUsd}}" disabled></ion-input>
        </ion-item>
        <button ion-button block color="success" (click)="requestPaymentToast()">Request Payment</button>
      </ion-list>
    </ion-card>

    <ion-card>
      <h4 class="title-table">Wallets</h4>
      <ion-row class="header-table">
        <ion-col col-3 text-center>
          <b>Wallet Name</b>
        </ion-col>
        <ion-col col-3 text-center>
          <b>Wallet Address</b>
        </ion-col>
        <ion-col col-3 text-center>
          <b>Transfer</b>
        </ion-col>
        <ion-col col-3 text-center>
          <b>Explain</b>
        </ion-col>
      </ion-row>
      <ion-grid>
        <ion-row>
          <ion-col col-3 text-center>Han Solo</ion-col>
          <ion-col col-3 text-center>5sf47d5gtd5fg4d5f4g5df4g5g4df5g47df5g4df</ion-col>
          <ion-col col-3 text-center>
          <ion-icon ios="ios-share-alt" md="md-share-alt" color="success" id="{{walletData[0].id}}" (click)="transferWalletAddress($event)"></ion-icon>
        </ion-col>
        <ion-col col-3 text-center>
          <ion-icon ios="ios-search" md="md-search" color="secondary"></ion-icon>
        </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-3 text-center>Obi-Wan Kenobi</ion-col>
          <ion-col col-3 text-center>sdfds86f47d867g86df7g86df7g86f7g86f5gf47h8</ion-col>
          <ion-col col-3 text-center>
            <ion-icon ios="ios-share-alt" md="md-share-alt" color="success" id="{{walletData[1].id}}" (click)="transferWalletAddress($event)"></ion-icon>
          </ion-col>
          <ion-col col-3 text-center>
            <ion-icon ios="ios-search" md="md-search" color="secondary"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
    <ion-card>
      <h5 text-center padding>If the wallet to transfer is saved, you can push the transfer button in wallet table.</h5>
      <h4 class="title-table">Your Earning Transfer to Another Wallet</h4>
      <ion-list>
        <ion-item>
          <ion-input type="text" placeholder="Wallet Address" [(ngModel)]="modelWalletAddress"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="number" placeholder="Transfer Amount" [(ngModel)]="modelTransferAmount"></ion-input>
        </ion-item>
        <button ion-button block color="primary" (click)="getAllBalance()" >All Balance</button>
        <button ion-button block color="success">Transfer</button>
      </ion-list>
    </ion-card>

    <ion-card>
      <h4 class="title-table">Last Actions</h4>
      <ion-row class="header-table">
        <ion-col col-2 text-center>
          <b>Wallet From</b>
        </ion-col>
        <ion-col col-2 text-center>
          <b>Wallet To</b>
        </ion-col>
        <ion-col col-3 text-center>
          <b>Balance</b>
        </ion-col>
        <ion-col col-3 text-center>
          <b>Date</b>
        </ion-col>
        <ion-col col-2 text-center>
          <b>Action</b>
        </ion-col>
      </ion-row>
      <ion-grid>
        <ion-row *ngFor="let lastActions of lastActions">
          <ion-col col-2 text-center>{{lastActions.walletFrom}}</ion-col>
          <ion-col col-2 text-center>{{lastActions.walletTo}}</ion-col>
          <ion-col col-3 text-center>977.49</ion-col>
          <ion-col col-3 text-center>{{lastActions.TDate.split('T')[0]}}</ion-col>
          <ion-col col-2 text-center><ion-icon ios="ios-arrow-round-back" md="md-arrow-round-back" color="success"></ion-icon></ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
</ion-content>
